* {
  padding: 0;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
  list-style: none;
  background: white;
  border: 1px solid black;
}

.main-section {
  display: flex;
}

ul li:nth-child(odd) {
  background-color: lightgray;
}